.portfolio {
  color: white;
  position: absolute;
  top: 5px;
  right: 8px;
}
.portfolio-link {
  color: aquamarine;
  text-decoration: none;
  font-size: 1rem;
}

.portfolio-link:hover {
  font-size: 1.02rem;
  color: aqua;
}

.portfolio-link::after{
    content: " ❤️‍🔥";
}